<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Patients" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=student;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Patients_Info.Properties.Settings.HospitalConnectionString"
            connectionString="Data Source=DESKTOP-QQQJ0LR\SQLEXPRESS;Initial Catalog=Hospital;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Patients_Info.Properties.Settings.PatientConnectionString"
            connectionString="Data Source=DESKTOP-QQQJ0LR\SQLEXPRESS;Initial Catalog=Patient;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Patients_Info.Properties.Settings.studentConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=student;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>