/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body{
  background-color: #f5f5f5;
}

.sidebar{
  position: fixed;
  height: 100%;
  width: 240px;
  background-color: #3fbbc0;
  background-image: linear-gradient(
  180deg, #9ca9ad 8%, #3fbbc0 90%);
  transition: all 0.5s ease;
}
.sidebar.active{
  width: 60px;
}

.sidebar .logo-details .logo_name{
  color: #fff;
    font-size: 39px;
    font-weight: 500;
    margin-left: 75px;
}

.sidebar .nav-links{
  margin-top: 10px;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
}

.f_div .icon, .l_div .icon{
  text-indent: 120px;

}

.sidebar .nav-links li a{
  height: 70%;
  display: flex;
  padding: 20px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  color:#000;
  padding-bottom: 10px;
  padding: 0.5rem 0;
  min-width: 10rem;
  font-size: 0.85rem;
 text-indent: 20px;
}
.sidebar .nav-links li a:hover{
border-radius: 5%;
background-color: #eaecf4;
}
.sidebar .nav-links ul span{
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.65rem;
    color: #b7b9cc;
}

.sidebar .nav-links  {
  margin-top: 22px;
  margin-left: 12px;
  text-decoration: none;
  color: rgb(235, 235, 235);
}
.sidebar .nav-links a{
  color: rgb(235, 235, 235);
  text-decoration: none;
}
.sidebar .nav-links .f_div :hover,
.sidebar .nav-links .s_div :hover,
.sidebar .nav-links .l_div :hover{
  color: #fff;
}

.sidebar .nav-links li i{
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.sidebar .nav-links li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}
.home-section{
  position: relative;

  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section{
  width: calc(100% - 60px);
  left: 60px;
}
.home-section nav{
  display: inline-block;
  justify-content: space-between;
  height: 80px;
  background: #fff;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section nav{
  left: 60px;
  width: calc(100% - 60px);
}
.home-section nav .sidebar-button{
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}
nav .sidebar-button i{
  font-size: 35px;
  margin-right: 10px;
}
.home-section .home-content{
  position: relative;
  padding-top: 104px;
}


.overview-boxes .box-topic{
  font-size: 20px;
  font-weight: 500;
}
.home-content .box .number{
  display: inline-block;
  font-size: 35px;
  margin-top: -6px;
  font-weight: 500;
}
.home-content .box .indicator{
  display: flex;
  align-items: center;
}

.home-content .box .indicator .text{
  font-size: 12px;
}

.home-content .total-order{
  font-size: 20px;
  font-weight: 500;
}
.home-content .sales-boxes{
  display: flex;
  justify-content: space-between;
  /* padding: 0 20px; */
}


.sales-boxes .box .title{
  font-size: 24px;
  font-weight: 500;
  /* margin-bottom: 10px; */
}

.sales-boxes .box .button{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
/* Responsive Media Query */
@media (max-width: 1240px) {
  .sidebar{
    width: 60px;
  }
  .sidebar.active{
    width: 220px;
  }
  .home-section{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section{
    /* width: calc(100% - 220px); */
    overflow: hidden;
    left: 220px;
  }
  .home-section nav{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section nav{
    width: calc(100% - 220px);
    left: 220px;
  }
}

/* start nav */

.fa-bell:before {
    content: "\f0f3";
}
.sidebar .nav-item .nav-link .badge-counter,
.topbar .nav-item .nav-link .badge-counter {
  position: absolute;
  transform: scale(0.7);
  transform-origin: top right;
  right: 20px;
  margin-top: -.25rem;
}
.badge-danger {
    color: #fff;
    background-color: #e74a3b;
}
.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.35rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.topbar .dropdown-list .dropdown-header {
    background-color: #3fbbc0;
    border: 1px solid #3fbbc0;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #fff;
}
.dropdown .dropdown-menu .dropdown-header {
    font-weight: 800;
    font-size: 0.65rem;
    color: #b7b9cc;
}
.text-uppercase, .dropdown .dropdown-menu .dropdown-header, .sidebar .sidebar-heading {
    text-transform: uppercase !important;
}
.dropdown-header {
    display: block;
    padding: 0.5rem 1.5rem;
    margin-bottom: 0;
    font-size: 0.875rem;
    color: #858796;
    white-space: nowrap;
}
.topbar .dropdown-list .dropdown-item {
    white-space: normal;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-left: 1px solid #e3e6f0;
    border-right: 1px solid #e3e6f0;
    border-bottom: 1px solid #e3e6f0;
    line-height: 1.3rem;
}
.icon-circle {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-primary {
    background-color: #3fbbc0 !important;
}
.dropdown-menu.show {
    display: block;
  }
  .nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #6e707e;
  background-color: #fff;
  border-color: #dddfeb #dddfeb #fff;
}


.sidebar .nav-item .nav-link .img-profile, .topbar .nav-item .nav-link .img-profile {
    height: 2rem;
    width: 35px;
}
.topbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: #d1d3e2;
    font-size: 20px;
}

.topbar .nav-item .nav-link {
    height: 4.375rem;
    display: flex;
    /* position: relative;
    right: -933px; */
    align-items: center;
    padding: 0 0.75rem;
}
.sidebar .nav-item .nav-link, .topbar .nav-item .nav-link {
    position: relative;
}
[role="button"] {
    cursor: pointer;
}

a {
    
    text-decoration: none;
    background-color: transparent;
}
.dropdown-menu-left {
    right: auto;
    left: 0;
  }


.dropdown-menu-right {
   
    left: auto;
}
.dropdown-menu {
  
    top: 100%;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    color: #858796;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
}
.navbar {
  position: sticky;
  display: block;
  align-items: center;
  padding: 0.5rem 1rem;
}

.topbar .topbar-divider {
  width: 0;
  border-right: 1px solid #e3e6f0;
  height: calc(4.375rem - 2rem);
  margin: auto 1rem;
}

.dropdown-menu.show {
    display: block;
}
.navbar-nav .dropdown-menu {
    
    float: none;
}
.navbar-expand .navbar-nav .dropdown-menu {
    position: absolute;
}

.dropdown .dropdown-menu {
    font-size: 0.85rem;
}
.dropdown-divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid #eaecf4;
}
.dropdown-item:hover, .dropdown-item:focus {
    color: #2e2f37;
    text-decoration: none;
    background-color: #eaecf4;
  }
  .dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #3fbbc0;
  }
  
  .dropdown-item.disabled, .dropdown-item:disabled {
    color: #b7b9cc;
    pointer-events: none;
    background-color: transparent;
  }
  .dropdown-item-text {
    display: block;
    padding: 0.25rem 1.5rem;
    color: #3a3b45;
  }
li{
 list-style: none;
}  

@media (min-width: 576px){
    .topbar .dropdown .dropdown-menu {
        width: auto;
        right: 0;
    }
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #b5b6bf;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
}


.sidebar-dark .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.8);
}
@media (min-width: 768px){
    .sidebar .nav-item .nav-link {
        display: block;
        width: 100%;
        text-align: left;
        padding: 1rem;
        width: 14rem;
    }
}
@media (min-width: 768px)
{
    .sidebar .nav-item .collapse .collapse-inner {
        border-radius: 0;
        box-shadow: none;
    }
 
.sidebar .nav-item .nav-link[data-toggle="collapse"].collapsed::after {
    content: '\f105';}
}
.sidebar-dark .nav-item .nav-link[data-toggle="collapse"]::after {
  color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 768px){
.sidebar .nav-item .nav-link[data-toggle="collapse"]::after {
  width: 1rem;
  text-align: center;
  float: right;
  vertical-align: 0;
  border: 0;
  font-weight: 900;
  content: '\f107';
  font-family: 'Font Awesome 5 Free';
}}
@media (min-width: 768px){
.sidebar .nav-item .collapse {
    position: relative;
    left: 0;
    z-index: 1;
    top: 0;
    -webkit-animation: none;
    animation: none;
}}
@media (min-width: 768px){
.sidebar .nav-item .collapse, .sidebar .nav-item .collapsing {
    margin: 0 1rem;
}}

.sidebar .nav-item .collapse .collapse-inner .collapse-header, .sidebar .nav-item .collapsing .collapse-inner .collapse-header {
    margin: 0;
    white-space: nowrap;
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.65rem;
    color: #b7b9cc;
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item, .sidebar .nav-item .collapsing .collapse-inner .collapse-item {
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    display: block;
    color: #3a3b45;
    text-decoration: none;
    border-radius: 0.35rem;
    white-space: nowrap;
}

.sidebar .nav-item .collapse .collapse-inner, .sidebar .nav-item .collapsing .collapse-inner {
    min-width: 10rem;
    font-size: 0.85rem;
}
.pb-2, .py-2 {
    padding-bottom: 0.5rem !important;
}
.pt-2, .py-2 {
    padding-top: 0.5rem !important;
}
.rounded {
    border-radius: 0.35rem !important;
}
.bg-white {
    background-color: #fff !important;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  display: block;
  color: #3a3b45;
  text-decoration: none;
  border-radius: 0.35rem;
  white-space: nowrap;
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {
  background-color: #eaecf4;
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item:active,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item:active {
  background-color: #dddfeb;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {
  color: #3fbbc0;
  font-weight: 700;
}
@media (min-width: 768px){
    .sidebar .nav-item .collapse, .sidebar .nav-item .collapsing {
        margin: 0 1rem;
    }
}


@media (min-width: 768px){
    .sidebar .nav-item .collapse {
        position: relative;
        left: 0;
        z-index: 1;
        top: 0;
        -webkit-animation: none;
        animation: none;
    }
}
.sidebar .nav-item .collapse .collapse-inner {
    border-radius: 0.35rem;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
  }
  
  .nav-links .s_menu , .nav-links .m_menu  li{
    background-color: #fff;
    height: 112px;
    padding: 0.5rem 10px;
    margin-right: 31px;
    margin-left: 5px;
    display: block;
    color: #3a3b45;
    text-decoration: none;
    border-radius: 0.35rem;
    white-space: nowrap;
    margin-bottom: 10px;    
  display:none;
  }
  .nav-links.showMemu .s_menu li{
    display: block;
  }
  .nav-links span {
    font-size: 18px;
    margin-left: 4px;
  }
  .f_div , .s_div , .l_div {
    margin-bottom: 10px;
}

  
  /*start page */
  
  .modal-bt1{
    background-color: #3fbbc0;
    height: 85px;
    width: 350px;
    margin-left: 19px;
    border-radius: 17px;
    transition: 0.5s;
    font-size: 20px;
    color:#fff;
   }

   .modal-bt4{
    background-color: #3fbbc0;
    border-radius: 15px;
    transition: 0.4s;
    padding: 20px;
    text-align: center;
    width: 200px;
    height: 64px;
    font-size: 20px;
    margin: 0px 19px 0px 11px;
  }
   

   .modal-bt1:hover,
    .modal-bt4:hover{
    transform: scale(1.07);
    box-shadow: 0 0 10px 1px rgb(126, 125, 125);
    color: #fff;
   }
   .modal-txt{
    text-align: center;
    position: relative;
    right: -186px;
    font-weight: 700;
    font-size: 34px;
    color: #767e7d;
   }
   
   .collapsed span{
    font-size: 20px;
   }
   .close_btn{
     background-color: #9ca9ad;
     border-color: #9ca9ad;
     border-radius: 8px;
   }
   .close_btn:hover{
    background-color: #77858a;
    border-color:#77858a;
    transition: 0.5s;
    
    transform: scale(1.08);
    box-shadow: 0 0 10px 1px rgb(151, 150, 150);
   }

   .Logout-btn{
    background-color: #3fbbc0;
    border-color: #3fbbc0;
    border-radius: 8px;
   }
   .Logout-btn:hover{
    background-color: #3fbbc0;
    border-color:#3fbbc0;
    transition: 0.5s;
    
    transform: scale(1.08);
    box-shadow: 0 0 10px 1px rgb(151, 150, 150);
   }
   

   .doctor-img {
    width: 130px;
    border-radius: 50%;
    display: block;
    margin: 30px 0px 2px 50px;
  
   }
 
   /*Start table*/
   
   .D_table {
    text-align: right;
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    color: black;
    width: 100%;
    margin-top: 49px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #eee;
}
  
  .D_table td {
    text-align: right;
    border: 1px solid #ccc;
  }
  .D_table th {
    background-color: #eee;
  }
  
  
  /*End table*/
  .sidebar .nav-link li .sub-menu{
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background-color: #1d1b31;
  }
  .sidebar .nav-link li .sub-menu a {
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3 ease;
  }
  .sidebar .nav-link li .sub-menu .links_name{
    display: none;
  }
  

   footer .footer{
    padding: 15px 10px;
    flex-shrink: 0;
    margin-top: 10px;
    box-shadow: 1px -6px 16px -6px #bbb;
    position: relative;
    bottom: -393px;
}
   
   footer .footer .fo_span{
    color: #000;
    font-size: 0.9rem;
    margin-left: 410px;
  }

/* end nav */

